<div nz-row>
  <div nz-col>
    <h1>添加设备</h1>
  </div>
</div>
<br>
<div nz-row>
  <div nz-col>
    <p>当前学期：{{nowSemester.nowSemester}}</p>
    <p>当前实验室：<span>{{labName}}</span></p>
  </div>
</div>
<br><br><br>
<div nz-row>
  <div nz-col></div>
</div>
<div nz-row>
  <form [nzLayout]="'horizontal'" nz-form [formGroup]="validateForm" (ngSubmit)="'_submitForm()'" nz-col [nzOffset]="'5'" nzSpan="10">
    <div class="formItem" nz-form-item>
      <div nz-form-control>
        <label  nz-col nzSpan="8"></label>
        <div nz-col nzSpan="16">
          <nz-alert [nzType]="'warning'" nzShowIcon>
                          <span alert-body>
                            <pre style="font-size: 1.4em;color: red">请如实填写设备信息.</pre>
                          </span>
          </nz-alert>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.computerIp"  [nzValidateStatus]="getFormControl('computerIp')"  nzHasFeedback >
        <label for="computerIp" nz-col nzSpan="7">设备IP：</label>
        <div nz-col nzSpan="15">
          <nz-input id="computerIp" formControlName="computerIp" [nzPlaceHolder]="'请输入设备IP'" ></nz-input>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'7'" nz-form-explain *ngIf="validateForm.controls.computerIp.dirty&&validateForm.controls.computerIp.hasError('required')">设备IP为必填项！</div>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.computerNum"  [nzValidateStatus]="getFormControl('computerNum')"  nzHasFeedback >
        <label for="computerNum" nz-col nzSpan="7">座位编号：</label>
        <div nz-col nzSpan="15">
          <nz-input id="computerNum" formControlName="computerNum" [nzPlaceHolder]="'请输入座位编号'" ></nz-input>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'7'" nz-form-explain *ngIf="validateForm.controls.computerNum.dirty&&validateForm.controls.computerNum.hasError('required')">座位编号为必填项！</div>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.software"  [nzValidateStatus]="getFormControl('software')"  nzHasFeedback >
        <label for="software" nz-col nzSpan="7">内置软件：</label>
        <div nz-col nzSpan="15">
          <nz-input id="software" formControlName="software" [nzPlaceHolder]="'请输入设备内置软件'" ></nz-input>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'7'" nz-form-explain *ngIf="validateForm.controls.software.dirty&&validateForm.controls.software.hasError('required')">设备内置软件为必填项！</div>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.systemType"  [nzValidateStatus]="getFormControl('systemType')"  nzHasFeedback >
        <label for="systemType" nz-col nzSpan="7">操作系统：</label>
        <div nz-col nzSpan="15">
          <nz-input id="systemType" formControlName="systemType" [nzPlaceHolder]="'请输入操作系统类型'" ></nz-input>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'7'" nz-form-explain *ngIf="validateForm.controls.systemType.dirty&&validateForm.controls.systemType.hasError('required')">操作系统为必填项！</div>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.computerType"  [nzValidateStatus]="getFormControl('computerType')"  nzHasFeedback >
        <label for="computerType" nz-col nzSpan="7">设备类型：</label>
        <div nz-col nzSpan="15">
          <nz-input id="computerType" formControlName="computerType" [nzPlaceHolder]="'请输入设备类型'" ></nz-input>
        </div>
        <div class="help">
          <div nz-col nzSpan="12" [nzOffset]="'7'" nz-form-explain *ngIf="validateForm.controls.computerType.dirty&&validateForm.controls.computerType.hasError('required')">设备类型为必填项！</div>
        </div>
      </div>
    </div>
    <div class="submitBtn" nz-form-item nz-col nzSpan="22">
      <div nz-form-control>
        <button nz-button [nzType]="'danger'" [nzSize]="'large'" type="reset" onclick="window.history.back()">
          <span>取消</span>
        </button>
        <nz-popconfirm [nzTitle]="'确定提交吗？'" (nzOnConfirm)="_submitForm()" (nzOnCancel)="null">
          <button nz-button nz-popconfirm [nzLoading]="loadStatus" [nzType]="'primary'" [nzSize]="'large'" >{{submitBtn}}</button>
        </nz-popconfirm>
      </div>
    </div>
  </form>
</div>
